.addCdBtn {
  cursor: pointer;
}
.listDlt {
  margin-top: -3px;
  padding-left: 5px;
  font-size: 24px;
  cursor: pointer;
  vertical-align: top;
}
.crdLstCnt {
  overflow: auto;
  max-height: calc(100vh - 340px);
}
.lstHdr {
  width: 240px;
  display: inline-block;
}
