.boardContainer {
  margin: 50px 20px 20px 20px;
}
.boardTile {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
.addBoard {
  background: #efefef;
}
.deleteButton {
  color: red;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
  cursor: pointer;
}
.deleteButton:hover {
  background: #efefef;
}
.deleteCont {
  cursor: default;
  text-align: right;
  padding: 5px 10px;
  border-top: 2px solid #efefef;
}
