.addBtnCont {
  width: 100%;
}
.addListCont {
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
}
.addLst {
  display: inline-block;
  margin: 5px 2px 2px 2px;
}
.cnclLst {
  display: inline-block;
  margin: 5px 2px 2px 2px;
}
